<!--
Orginal source code modified to maintain the anonimity of the candidates.
-->
<html>

<head>

<title>Computer Science Solution cover page</title>

</head>

<body lang=EN-GB link=blue vlink=purple>

<h2 align=center style='text-align:center'><span>Computer Science Solution cover page</span></h2>

<table>
<tr>
<td width=320 colspan=2><p><b>Candidate code:</td>
<td width=400><p>abc123</p></td>
<td width=200></td>
<tr>

<tr>
<td width=320 colspan=2><p><b>Solution title:</td>
<td width=400>title</td>
<td width=200></td>
<tr>
    
<tr>
<td width=320 colspan=2><p><b>User name:</b></p></td>
<td width=400>fullname</td>
<td width=200></td>
<tr>

<tr>
<td width=320 height=50 colspan=2><p><b>Links to:</b> </p></td>
<td width=400><a href="Product/IA.jar" target="_blank">Product</a> </td>
<td width=200></td>
<tr>

<tr height=20>
<td width=100></td>
<td width=220></td>
<td width=400></td>
<td width=200></td>
<tr>

<tr>
<td width=320 height=50 colspan=2 valign='top'><p><b>Directions to access product or any other additional information</b></p></td>
<td width=400 height=70 bgcolor="lightgray" valign='top'><p> </p>If the product does not load, please go to the Product folder and type <i>java -jar IA.jar</i> inside a terminal/command prompt window</td>
<td width=200></td>
<tr>

<tr>
<td width=320 colspan=2><p><i>Links to documentation are below</i></p></td>
<td width=400></td>
<td width=200></td>
<tr>

<tr height=20>
<td width=100></td>
<td width=220></td>
<td width=400></td>
<td width=200></td>
<tr>

<tr>
<td width=320 colspan=2><p><b>Planning</b></p></td>
<td width=400><a href="Documentation/Crit_A_Planning.pdf">Planning</a></td>
<td width=200></td>
<tr>

<tr>
<td width=100></td>
<td width=220></td>
<td width=400></td>
<td width=200></td>
<tr>

<tr>
<td width=320 colspan=2><p><b>Design</b></p></td>
<td width=400><a href="Documentation/Crit_B_Record_of_tasks.pdf">Record of tasks</a> (use form)</td><tr>
<td width=200></td>
<tr>

<tr>
<td width=320 colspan=2><p><b></b></p></td>
<td width=400><a href="Documentation/Crit_B_Design.pdf">Design</a></td><tr>
<td width=200></td>
<tr>


<tr>
<td width=100></td>
<td width=220></td>
<td width=400></td>
<td width=200></td>
<tr>

<tr>
<td width=320 colspan=2><p><b>Development</b></p></td>
<td width=400><a href="Documentation/Crit_C_Development.pdf">Development</a></td>
<td width=200></td>
<tr>

<tr>
<td width=100></td>
<td width=220></td>
<td width=400></td>
<td width=200></td>
<tr>

<tr>
<td width=320 colspan=2><p><b>Functionality (additional videos may be added)</b></p></td>
<td width=400><a href="Documentation/Crit_D_Video.m4v">Video of product</a></td>
<td width=200></td>
<tr>


<tr>
<td width=100></td>
<td width=220></td>
<td width=400></td>
<td width=200></td>
<tr>

<tr>
<td width=320 colspan=2><p><b>Evaluation</b></p></td>
<td width=400><a href="Documentation/Crit_E_Evaluation.pdf">Evaluation</a></td>
<td width=200></td>
<tr>

<tr>
<td width=100></td>
<td width=220></td>
<td width=400></td>
<td width=200></td>
<tr>

<tr>
<td width=320 colspan=2><p><b>Appendix / appendices</b></p></td>
<td width=400>
    <a href="Documentation/Appendix.pdf">Appendix</a><br/>
    <a href="Documentation/final-uml-diagram.png">Full size final UML class diagram</a> 
</td>
<td width=200></td>
<tr>

<tr>
<td width=100></td>
<td width=220></td>
<td width=400></td>
<td width=200></td>
<tr>

<tr>
<td width=320 colspan=2 height='70'><p><b>WORD COUNT</b></p></td>
<td width=400><p><b>n,nnn</b></p></td>
<td width=200></td>
<tr>


</body>

</html>